<ion-header>
  <ion-toolbar>
    <ion-title>
     Gestion Des Monuments
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <ion-item text-wrap></ion-item>
  <ion-img src="https://images.theconversation.com/files/228846/original/file-20180723-189310-1ymcybu.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=600&h=451&fit=crop&dpr=1"></ion-img>
  <ion-img class="animate__animated animate__rotateOut" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Ionic-logo-landscape.svg/1200px-Ionic-logo-landscape.svg.png"></ion-img>
  <ion-button routerLink="/register" expand="block">
    Sign In
  </ion-button>
  <ion-button routerLink="/login" expand="block">
    Login
  </ion-button>
  <!-- Test Authorization 
  <ion-button routerLink="/test" expand="block">
    Test
  </ion-button>
-->
</ion-content>